@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco_Project.ViewModels
@{
    var content = (ContentModels.AsideSupportCard)Model.Content;

    var formVM = new SupportFormViewModel();

}

<div class="relative flex flex-col gap-4 p-4 bg-primary mt-4">

    @* BACKGROUND IMAGE *@
    @if (content.AsideSupportCardBgImage != null)
    {
        <div class="absolute bottom-0 right-0 pointer-events-none">
            <img class="" src="@content.AsideSupportCardBgImage.Url()" />
        </div>
    }

    <h2 class="text-secondary text-[1.375rem] font-semibold">@content.AsideSupportCardTitle</h2>
    <p class="text-secondary text-[0.875rem] font-normal">@content.AsideSupportCardText</p>


    @* FORM AND CONFIRMATION ON SUBMIT*@
    <partial name="Partials/Forms/_SupportForm" model="formVM"/>

    @if (TempData["SupportFormSuccess"] != null)
    {
        <div class="bg-green-50 text-green-700 p-4 rounded-md w-full text-sm">
            @TempData["SupportFormSuccess"]
        </div>
    }
    else if (TempData["SupportFormError"] != null)
    {
        <div class="bg-red-50 text-red-700 p-4 rounded-md w-full text-sm">
            @TempData["SupportFormError"]
        </div>
    }

</div>

